body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.jpg");
  width: 100%;
  
}

a {
  color: #00B7FF;
}

.title-block {

}

.title {
  font-family: 'PingFangSC-Semibold';
    font-size:45px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing:0;

    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}

.underscore {
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width:  650px;
}

.chart-title {
  font-family: 'PingFangSC-Semibold';
  font-size:21px;
  color: #00abf3;
}

.grids1 {
	width: 100%;
	display: block;
}

.column {
  width: 630px;
  float: left;
}

.column-right {
  width:  630px;
  height:  990px;
  float:  left;
}

.bar-row {  
  height: 330px;
}

.bar-row-short {
  height:  300px;
}

.bar-row-tall {
  height:  380px;
}

.chart-body {
  width: 100%;
  height: 270px;
}

.chart-border {
  border:  2px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.chart-wide {
  width:  100%;
  height:  280px;
}

.chart-map {
  width:  100%;
  height:  650px;
}

.chart-right {
  width:  100%;
  height:  410px;
}

.chart-narrow {  
  height:  430px;
  width:  100%;
  float:  left;
}

.bar-left {
  width:  430px;
  height:  300px;
}

.bar-right {
  width:  430px;
  height:  337px;
}

.map-container {  
  background: transparent;
  z-index: -1;
}

.the-map {
  width: 1000px;
  height:  1000px;
  position: absolute;
  top:  -200px;
  left:  350px;
  z-index: -1;
}