body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.jpg");
  width: 100%;  
}

a {
  color: #00B7FF;
}

.title-block {

}

.title {
	font-family: PingFangSC-Semibold;
    font-size:45px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing:0;

    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}

.underscore {
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width:  650px;
}

.chart-title {
  font-family: 'PingFangSC-Semibold';
  font-size:21px;
  color: #00abf3;
}

.grids1 {
	width: 100%;
	display: block;
}

.column {
  width: 660px;
  float: left;
}

.column-right {
  width:  500px;
  height:  990px;
  float:  right;
}

.bar-row {  
  height: 330px;
}

.bar-row-short {
  height:  300px;
}

.chart-body {
  width: 100%;
  height: 270px;
}

.chart-border {
  border:  2px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart-wide {
  width:  100%;
  height:  217px;
}

.map-container {  
  background: transparent;
  z-index: -1;
}

.the-map {
  width: 1400px;
  height:  1400px;
  position: absolute;
  top:  -400px;
  left:  150px;
  z-index: -1;
}

.chart-right {
  width:  100%;
  height:  310px;
}

.chart-narrow {
  height:  300px;
  width:  100%;
  float:  left;
}

.bar-left {
  width:  330px;
}

.bar-right {
  width:  330px;
}

.small-background-layer {
  width:  828px;
  height:  828px;
  left:  445px;
  top:  100px;
  position:  relative;
  background-image: url('../images/background-layer.png');
}