body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.jpg");
  width: 100%;  
}

a {
  color: #00B7FF;
}

.title-block {
  /* margin-bottom: 50px;     */
}

.title {
	font-family: PingFangSC-Semibold;
    font-size:45px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0;
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}

.underscore {
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width:  650px;
}

.chart-title {
  font-family: 'PingFangSC-Semibold';
  font-size:21px;
  color: #00e8f3;
}

.grids1 {
	width: 100%;
	display: block;
}

.column-left {
  width: 950px;
  float: left;
}

.top-row {  
  height: 330px;
}

.bottom-row {
  height:  600px;
}

.bar-row-short {
  height:  300px;
}

.chart-body {
  width: 100%;
  height: 270px;
}

.chart-body-taller {
  width:  100%;
  height:  420px;
  margin-top:  120px;
}

.chart-border {
  border:  2px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  border-radius: 5px;
}

.chart-wide {
  width:  100%;
  height:  217px;
}

.map-container {  
  background: transparent;
  z-index: -1;
}

.the-map {
  width: 1000px;
  height:  1000px;
  position: absolute;
  top:  -100px;
  left:  900px;
  z-index: -1;
}

.chart-right {
  width:  100%;
  height:  310px;
}

.chart-narrow {
  height:  300px;
  width:  100%;
  float:  left;
}

.bar-left {
  width:  330px;
}

.bar-right {
  width:  330px;
}

.small-background-layer {
  width:  828px;
  height:  828px;
  left:  950px;
  top:  80px;
  position:  relative;
  background-image: url('../images/background-layer.png');
}

.flap-numbers {
  width:  100%;
  height:  200px;
}

.counter-label {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.counter-number {
  font-size:  50px;
  color:  white;
  text-align: right;
  float:  right;
}

.counter-unit {
  font-size:  14px;
  color: #ffffff;
  font-weight: bold;
  float:  right;
}

.total-counter {  
  margin:  8% 10% 0 10%;
  height:  80px;
}

.in-top5-counter {
  margin:  5% 10% 0 10%;
  height:  60px;
}

.out-top5-counter {
  margin:  5% 10% 0 10%;
  height:  60px; 
}

.num {
  width: 45px;
  height: 70px;  
  position: relative;
  display: inline-block;
  overflow: hidden;
  color:  white;
  font-size: 50px;
}

.num1 {
  width: 45px;
  height: 70px;  
  position: relative;
  display: inline-block;
  overflow: hidden;
  color:  white;
  font-size: 50px;
}

.num2 {
  width: 45px;
  height: 70px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color:  white;
  font-size: 50px;
}

span {
  display: inline-block;
  line-height: 70px;
  text-align: center;
  overflow: hidden;
}
span i {
  width: 45px;
  height: 70px;
  display: block;
  text-align: center;
  font-style: normal;
}